/* start global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Roberto', sans-serif;
    color: #eee;
}

body{
    width: 100%;
    
}
/* end global */

/* start recycled css */
/* end recycled css */

/* start head */
/* end head */

/* start about me */
/* end about me */

/* start portfolio */
/* end portfolio */

/* start experience */
/* end experience */