body{
  	font-family: 'Archivo Narrow', sans-serif;
  	margin: 0;
}

h1 {
	color:#413839;
	font-size:50px;
	font-weight: normal;
	margin-bottom: 0;
}

h2 {
	color:#413839;
	font-size: 20px;
	margin-top: 0;
}

h3 {
	text-align: center;
	font-size: 25px;
	font-weight: normal;
	margin top: 100px;
}

.nav-link {
	color: #2B3856;
	text-decoration: none;
}

li {
	display: inline-block;
	font-size: 12px;
	width: 100px;
	font-weight: bold;
	margin-top: 30px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: center;
	margin-left: 30px;
}

.hire-me {
	border-style: solid;
	border-color: #2B3856;
}

.bio {
	color:#2B3856;
	font-size:15px;

}

.me {
	height: 160px;
	border-radius: 100%;
	border-style: solid;
	border-color: white;
	margin-top: 40px;
}


.about {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	

}

.grey { 
height: 3px;
background-color: #C35817;
border: none;
width: 350px;
}

.about-container {
	background: url('background3.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	height: 800px;
}

.yellow {
	border-top: 5px double #C35817;
	width: 250px;
	border-bottom: none;
	border-right: none;
}

.box {
  float: left;
  background-color: #D1D0CE;
  width: 30.5%;
  length: 50%;
  margin-left: 15%;
  margin-top: 100px;
  border-color: #413839;
  border-style: solid;
}

.clear {
	clear: both;
}

h4 {
	text-align: center;
	font-size: 24px;
	color: #413839;
}

h5 {
	text-align: center;
	font-size: 24px;
	color: #413839;
}

p {
	text-align: center;
	color: #413839;
}


.full-width {
	width: 100%;
}

.skills-and-tools {
	max-width: 400px;
	margin: 40px auto;

}

.icons {
  margin: 30px 0;
  text-align: center;
}

.contact-me {
	height: 350px;
	background-color: #202020;
	padding-top: 30px;
}

.contact-headline{
	color: white;	
}

.contact-info {
	color: white;
	font-size: 15px;
	margin-top: 35px;
}

.contact-link {
	color:#C35817;
	font-weight: bold;
	font-size: 14px;
}

.full-length {
	width: 100%;
	length: auto;
}